*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize; 
}
nav{
    background:#1b1b1b;
}
nav::after{
    content: '';
    clear: both;
    display: table;
}
nav .logo a{
    float: left;
    color: cyan;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    display: inline-block;
    background:#1b1b1b;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 9px 15px;
}
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}
nav ul ul li a:hover{
    color: cyan;
    box-shadow: none;

}
nav ul ul{
    position: absolute;
    top:90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.container{
    width: 100%;
    margin: auto;

}


body{
    background: white;
}
.grid{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    align-items: center;
}
.grid > article{
    background: #eee5e9;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    width: 270px;
    transition: transform .3s;
}
.grid > article:hover{
    transform: translate(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}
.grid > article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text{
    padding: 0 20px 20px;
}
.text h3{
    text-transform: uppercase;
}
.text button{
    background: rgb(255, 69, 0);
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:500px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid > article{
    text-align: center;
}





.mySlides{
    display: none;
}
img{
    vertical-align: middle;
}
.slideshow-container{
    max-width: 80%;
    height: 80%;
    position: relative;
    margin: auto;
    top: 50px;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 350px;
    width: auto;
    padding: 16px;
    margin-top: -100px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: auto;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(136, 136, 136);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
    top: 50px ;
    position: relative;
}
.active, .dot:hover{
    background-color: #000000;

}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .6}
    to{opacity: 1}
}
@keyframes fade{
    from {opacity: .6}
    to{opacity: 1}
}

@media only screen and (max-width:500px){
    .prev, .next, .text{
        font-size: 14px;
    }
   
}

.row .col-2{
    width: 400px;
    position: absolute;
    left: 500px;
    top: 100px;
    line-height: 25px;
    
}
.col-2 h1{
    line-height: 45px;
    font-size: 30px;
}
.col-2 p{
    font-size: 15px;
}

html{
    font-size: 62.5%;
}
.contain{
    max-width: 1200px;
    margin:  0 auto;
    padding: 3rem 2rem;
}
.contain .title{
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.contain .product-contain{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}
.contain .product-contain .product{
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: 1.5rem;
    cursor: pointer;
}
.contain .product-contain .product:hover{
    outline: .1rem solid #222;
    outline-offset: 0;

}
.contain .product-contain .product img{
    height: 25rem;
}
.contain .product-contain .product h3{
    padding: 5rem 0;
    font-size: 2rem;
    color: #444;
}
.contain .product-contain .product .price{
    padding-bottom: 25px;

}
.contain .product-contain .product .price:hover{
    color: darkblue;
    font-weight: bolder;
}


.contain .product-contain .product:hover h3{
    color: #27ae60;
}
.contain .product-contain .product{
    font-size: 2rem;
    color: #444;
}
.contain .product-contain .product a{
    color: black;
    font-size: 20px;
    display: flex;
    padding: 10px;
    border:solid black 1px;
    border-radius: 50px;
    justify-content: center;
    background-color: rgb(69, 204, 181);

}
.contain .product-contain .product a:hover{
    color:white;
    background-color:darkblue;
    padding: 15px;
}

:root{
    
    --bg:#1b1b1b;
    --bg-light:#4a575544;
    
    --text:white;
    --hover:#ffff00;
    --light:#ffff0031;
}
footer{
    background-color: var(--bg-light);
    line-height:5px;
    color: var(--text);
}
footer .art{
    background-color: var(--bg);
    padding: 16px;
    padding-top: 48px;
    clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);

}
footer .content{
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:16px;
    font-size: 20px;

}
footer header{
    font-size: 20px;
    padding-block: 16px;
}
footer .content a{
    display: block;
    padding-block: 16px;
    color: var(--text);
    opacity: 0. 65;
}
footer .content a:hover{
    opacity: 1;
     color: var(--hover);
     font-size: 18px;
     
}
footer input{
    border-style: solid;
    line-height:10px;
    padding: 18px 40px;
    font-size: 1rem;
    margin-block: 8px;
    border-radius: 8px;
    border-width: 2px;
}
a{
    text-decoration: none;
}

footer .notice{
    text-align: center;
    padding: 24px;
    font-size: 20px;
}
footer .notice strong{
    color: var(--hover);
    text-transform: uppercase;
    font-size: 20px;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(images/contact.jpg);
    background-size:100% 100%;
}
.contact .cantant{
    max-width: 800px;
    text-align: center;
}
.contact .cantant h2{
    font-size: 36px;
    font-weight: 800;
    color:rgb(6, 6, 71);  
}
.contact .cantant p{
    font-size: 16px;
    font-weight: 300;
    color:#fff;
}
.cant{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.cant .contactInfo{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.cant .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.cant .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;    
}
.cant .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight: 300;
}
.cant .contactInfo .box .text h3{
    font-weight: 800;
    color: rgb(6, 6, 71);   
}
.contactform{
    width: 400px;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]{
    width: 100%;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .cant{
        flex-direction: column;
    }
    .cant .contactInfo{
        margin-bottom: 40px;
    }
    .cant .contactInfo{
        width: 100%;
    }
}



